@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

:root {
    --main-font: "Klee One", "cursive", "monospace";
}

body {
    display: grid;
    margin: 0px;
    padding: 0px;
    background-color: rgb(40, 40, 60);
    height: 100vh;
}

main {
    display: flex;
}

nav {
    position: fixed;
    align-self: top;
    width: 100vw;
    padding: 0.5em;
    text-align: center;
    background-color: rgb(50, 50, 70);
    font-family: var(--main-font);
    color: white;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1em;
    font-family: monospace;
    color: rgb(210, 170, 170);
    position: fixed;
    bottom: 0;
    height: 9em;
    background-color: rgb(25, 25, 40);
    width: 100vw;
}

#upload {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.upload-container {
    margin-left: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    left: 10px;
}

.upload-container label {
    display: block;
    position: relative;
    width: 10em;
    height: 5em;
    border-radius: 1em;
    background: linear-gradient(40deg, #2d2543, #5f5d8d);
    box-shadow: 4px 7px 7px rgba(20, 5, 5, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-family: var(--main-font);
    cursor: pointer;
    transition: ease-out 0.3s;
}

#upload:hover + label,
#upload:focus + label {
    transform: scale(1.07);
}

#upload:focus + label {
    outline: 2px solid rgb(81, 88, 222);
}

#output {
    position: absolute;
    left: 50vw;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    background-color:rgb(27, 28, 42);
}

.footer-logo {
    width: 40px;
    margin: 1em;
    margin-top: 1.5em;
}

.footer-logo:hover {
    filter: brightness(150%);
}