@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --main-font: "Righteous", "cursive";
    --btn-font: "Nerko One", "cursive";
    --text-font: "Ubuntu", "sans-serif";
}

a {
    text-decoration: none;
}

html {
    background-color: rgb(40, 40, 58);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:
        url('../assets/background.svg'),
        linear-gradient(
            40deg,
            rgb(32, 31, 52),
            rgb(45, 45, 65),
            rgb(78, 75, 110)
        );
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-family: var(--main-font);
    color: rgb(219, 168, 168);
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

#ferris {
    height: 2em;
    margin-left: 1em;
    filter: saturate(80%) brightness(85%);
    transition: ease-out 0.3s;
}

#ferris:hover {
    transform: scale(1.05);
}

#main-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    row-gap: 4em;
    column-gap: 18em;
    flex-grow: 1;
}

nav {
    padding: 1em;
    text-align: center;
    background-color: rgb(40, 40, 58);
    font-family: var(--main-font);
    color: white;
}

footer {
    margin-top: 4em;
    text-align: center;
    padding: 1em;
    font-family: monospace;
    color: rgb(210, 170, 170);
    height: 9em;
    background-color: rgb(19, 19, 33);
    width: 100%;
}

.shadow {
    box-shadow: 4px 7px 7px rgba(20, 5, 5, 0.5);
}

.lg-shadow {
    box-shadow: 10px 10px 10px rgb(24, 24, 33);
}

.lg-shadow:hover {
    box-shadow: 13px 13px 10px rgb(24, 24, 33);
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20em;
    padding: 2em;
    border-radius: 1em;
    background-color: rgb(30, 31, 48);
}

.form-header {
    font-family: var(--main-font);
    color: rgb(181, 174, 174);
}

.sm {
    font-size: 0.6em;
    font-family: var(--text-font);
}

.upload-container {
    margin-top: 1.2em;
}

.upload-container label {
    display: block;
    position: relative;
    width: 10em;
    height: 5em;
    border-radius: 0.7em;
    background: linear-gradient(40deg, #2d2543, #5f5d8d);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    font-family: var(--btn-font);
    cursor: pointer;
    transition: ease-out 0.3s;
}

#upload {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

#upload:hover + label,
#upload:focus + label {
    transform: scale(1.05);
}

#upload:focus + label {
    border: rgb(81, 88, 222) 2px solid;
}

.upload-hovered {
    transform: scale(1.05);
    border: rgb(81, 88, 222) 2px solid;
}

.upload-focused {
    border: rgb(81, 88, 222) 2px solid;
}

#function-select {
    margin-top: 1em;
    border: none;
    border-radius: 0.5em;
    font-family: var(--text-font);
    color: rgb(191, 176, 176);
    background-color: rgb(88, 73, 100);
}

#form-bottom-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
}

#submit {
    width: 8em;
    height: 4em;
    text-align: center;
    font-family: var(--submit-font);
    background-color: rgb(96, 113, 102);
    border: none;
    border-radius: 1em;
    color: rgb(243, 226, 226);
    transition: ease-out 0.3s;
}

#submit:hover,
#submit:focus {
    transform: scale(1.05);
}

#submit:focus {
    border: 2px solid rgb(75, 182, 132);
}

.small-icon {
    width: 1.8em;
}

.small-btns {
    margin-left: 1em;
    background-color: rgb(26, 21, 41);
    border-radius: 0.6em;
}

.small-btns:hover {
    background-color:rgb(17, 17, 30);
}

#modal-display {
    color: rgb(198, 180, 180);
    background-color:rgb(40, 40, 50);
}

.md-section {
    border: none;
}

#output-placeholder {
    width: 17em;
    height: 17em;
    border-radius: 10%;
    border: dashed rgb(59, 64, 107);
    background-color:rgb(46, 48, 65);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
    font-size: 1.2em;
    color: rgb(133, 122, 144)
}

#output-image {
    border-radius: 1em;
    outline: 3px solid rgb(89, 89, 154);
    max-width: 25em;
    max-height: 25em;
}

.loading {
    margin: auto;
    border: 20px solid #8fa3b8;
    border-radius: 50%;
    border-top: 20px solid #6c5482;
    width: 120px;
    height: 120px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#processing {
    font-family: var(--text-font);
    color: rgb(181, 174, 189);
    text-align: center;
    font-size: 1em;
    margin: 1em;
}

.footer-logo {
    width: 40px;
    margin: 1em;
    margin-top: 1.5em;
}

.footer-logo:hover {
    filter: brightness(150%);
}

#modal-body .form-control, .form-check-input {
    background-color: rgb(69, 64, 84);
    margin-bottom: 1em;
    border: none;
    color: rgb(198, 180, 180);
}

#modal-body .form-control {
    margin-top: 1em;
}