h1 {
    font-size: 10em;
    transition: ease-out 0.3s;
}

h1:hover {
    color: rgb(216, 122, 122);
}

.text-box {
    text-align: center;
    width: 100%;
}

p {
    color: rgb(185, 185, 199);
    font-family: var(--main-font);
    font-size: 1.2em;
}

a {
    font-family: var(--text-font);
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: rgb(214, 139, 139);
}

a::after {
    content: '';
    margin-top: 0.5px;
    border-radius: 1px;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(214, 139, 139);
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}